/* layout */
.canvas {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	width: 300px;
}

.inline {
	overflow: visible;
	white-space: nowrap;
}
.block {
	word-break: break-all;
	flex-basis: 100%;
}

.growable {
	flex-grow: var(--grow-factor, 1);
}

/* button */
.button {
	background-color: var(--rest-bg-color, #00000000);
	transition: 0.1s;
}
.button:hover {
	cursor: pointer;
	background-color: var(--hover-bg-color, darksalmon);
	box-shadow: 0 3px #999;
}
.button:active {
	box-shadow: 0 1px #666;
	transform: translateY(2px);
}

/* text */
.text {
	color: var(--font-color, black);
	font-size: var(--font-size, small);
}
.meter {
	color: var(--meter-color, green);
}