.canvas {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	width: 100px;
}

.inline {
	overflow: visible;
	white-space: nowrap;
}
.block {
	word-break: break-all;
	flex-basis: 100%;
}

.text {
}

.button {
	background-color: #00000000;
	transition: 0.1s;
}
.button:hover {
	cursor: pointer;
	background-color: darksalmon;
	box-shadow: 0 3px #999;
}
.button:active {
	box-shadow: 0 1px #666;
	transform: translateY(2px);
}

.meter {
	color: green;
}